{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>sds</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">

</head>

<body ng-app="django-crud">
<h1 align="center">Django-Angular-CRUD Application</h1>

<div class="container">
    <div ui-view></div>

</div>
</body>
 <script type="text/javascript" src="{% static "bower_components/angular/angular.min.js" %}"></script>
 <script type="text/javascript" src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
 <script type="text/javascript" src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
 <script type="text/javascript" src="{% static "bower_components/angular-ui-router/release/angular-ui-router.min.js" %}"></script>


 <script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/ZipCtrl.js" %}"></script>
</html>